/**
iconfont Webfont
*/
@font-face {
	font-family: 'iconfont';
	src: url('iconfont.eot?1714100233419');
	src: url('iconfont.eot?#iefix-1714100233419') format('embedded-opentype'),
		url('iconfont.woff2?1714100233419') format('woff2'),
		url('iconfont.woff?1714100233419') format('woff'),
		url('iconfont.ttf?1714100233419') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^='iconfont-']:before,
[class*=' iconfont-']:before {
	font-family: 'iconfont';
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	font-weight: normal;
	font-style: normal;
	speak: none;
	text-decoration: inherit;
	font-size: inherit;
	text-transform: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*
Glyphs list
*/
 .iconfont-all:before {
			content: '\ea01';
		}

		 .iconfont-Analytics:before {
			content: '\ea02';
		}

		 .iconfont-batdongsan:before {
			content: '\ea03';
		}

		 .iconfont-cancel:before {
			content: '\ea04';
		}

		 .iconfont-cart:before {
			content: '\ea05';
		}

		 .iconfont-checkmark:before {
			content: '\ea06';
		}

		 .iconfont-close:before {
			content: '\ea07';
		}

		 .iconfont-cloud:before {
			content: '\ea08';
		}

		 .iconfont-congty:before {
			content: '\ea09';
		}

		 .iconfont-curl:before {
			content: '\ea0a';
		}

		 .iconfont-data:before {
			content: '\ea0b';
		}

		 .iconfont-date:before {
			content: '\ea0c';
		}

		 .iconfont-Development:before {
			content: '\ea0d';
		}

		 .iconfont-dichvu:before {
			content: '\ea0e';
		}

		 .iconfont-group:before {
			content: '\ea0f';
		}

		 .iconfont-info:before {
			content: '\ea10';
		}

		 .iconfont-lang:before {
			content: '\ea11';
		}

		 .iconfont-link:before {
			content: '\ea12';
		}

		 .iconfont-node:before {
			content: '\ea13';
		}

		 .iconfont-person:before {
			content: '\ea14';
		}

		 .iconfont-php:before {
			content: '\ea15';
		}

		 .iconfont-python:before {
			content: '\ea16';
		}

		 .iconfont-search:before {
			content: '\ea17';
		}

		 .iconfont-seo:before {
			content: '\ea18';
		}

		 .iconfont-Service:before {
			content: '\ea19';
		}

		 .iconfont-source:before {
			content: '\ea1a';
		}

		 .iconfont-spa:before {
			content: '\ea1b';
		}

		